@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');

:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
.form {
  outline: none;
  border: none;
  border-right: 2px solid rgba(255, 255, 255, 0.614);
  background-color: none;
  background: none;
  width: 100%;
}

@media (max-width: 780px) {
  .form{
    border: none;
    height: 3rem;
    border-bottom: 2px solid #dddddd;
  }
}

.yesteryear {
  font-family: "Yesteryear", cursive;
  font-weight: 400;
  font-style: normal;
}

.item-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width:450px){
  .bg{
    width: 103vw;
  }
}
@media (min-width:450px){
  .bg{
    width: 100%;
  }
}